/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*grijs #899CA0*/
/*donkergroen #1C2B32*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 1000px;
    /*margin: 0 0 20px 20px;*/
    /*position: relative; ;*/
    /*justify-content: center;*/
    /*display: flex;*/
}
/*////////////////////////
    2. Typography
////////////////////////*/
* {
    color: #1C2B32;
}
h1  {
    font-family: inherit;
    font-size: 100px;
}

a {
    color: #899CA0;
    /*text-underline-offset: 3px;*/
}

a:hover {
    /*background-color: white;*/
    text-decoration: none;
}


h2 {
    text-align: center;
}
/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/
header {
    background-image: url("../assets/images/mountains.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    /*text-align: center;*/
    /*position: relative;*/
    text-align: center;
}

header h1 {
    margin: -1px;
    text-align: center;
}

.header-details {
    max-width: 1000px;
    /*margin-bottom: 2000px;*/
    /*text-align: center;*/
    padding-top: 20px;
    padding-bottom: 200px;
}

form>div {
    display: table;
    margin: 0 auto;
    border: medium solid #1C2B32;
    width: 400px;
    border-radius: 50px;
    /*background-color: #1C2B32;*/
    }

div>input{
    height: 60px;
    border: none;
    background-color: transparent;
    width: 50%;
    /*box-sizing: border-box;*/
}

div>input+input {
    background-color: #1C2B32;
    /*box-sizing: border-box;*/
    width: 50%;
    /*max-width: none;*/
    color: #899CA0;
}



/*///////////// 3.2 Testimonial /////////////*/
blockquote {
    padding: 50px;
    /*background-color: black;*/
    /*color: white;*/
    /*width: 100%;*/
    box-shadow: 2px 3px 4px 4px #899CA0;
    border-radius: 10px;
    /*margin: 10px;*/
}

blockquote>span {
    text-align: center;
}

.testimonials img {
    height: 44px;
    width: 44px;
}

.testimonials figure {
    /*background-color: black;*/
    display: flex;
    vertical-align: bottom;
}
.testimonials figure>figcaption {
    text-align: center;
    vertical-align: baseline;
    /*background-color: black;*/
}


/*///////////// 3.3 Support /////////////*/
.customer-service {
    max-width: 100%;
}

.customer-service img {
    width: 100%;
}

.customer-service a {
    background-color: #1C2B32;
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    color: white;
}
/*a:hover {*/
/*    !*color:black;*!*/
/*    !*text-underline: #1C2B32;*!*/
/*    text-decoration: none;*/
/*}*/

/*///////////// 3.4 Faq /////////////*/

details[Open] {
    /*padding: 20px;*/
    /*margin: 20px;*/
}

details>div{
    color: #899CA0;
    background-color: #1C2B32;
    padding: 40px;
    border-radius: 20px;
}

summary {
    background-color: white;
    color: black;
}


/*///////////// 3.5 Footer /////////////*/
.container{
    position: relative;
    height: 70px;
    /*maxwidth: 20px;*/
    background-color: #1C2B32;
    color: #899CA0;
    padding-top: 10px;
    width: 100%;
    /*box-sizing: border-box;*/

}
.content {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 35%;
    color: #899CA0;
    -ms-transform: translateX(-10%) translateY(-50%);
    transform: translateX(-10%) translateY(-50%);
}

footer span {
    color: #899CA0;
}
footer time {
    color: #899CA0;
}